<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile=".phpunit.result.cache"
         colors="true"
         executionOrder="defects"
         beStrictAboutOutputDuringTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <!-- Do not require a running Manticore server -->
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <!-- Require Manticore on MANTICORE_HOST:MANTICORE_PORT, skipped if unreachable -->
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <php>
        <env name="MANTICORE_HOST" value="127.0.0.1"/>
        <env name="MANTICORE_PORT" value="9306"/>
    </php>
</phpunit>
